@page
@model TradeControl.Web.Pages.Invoice.Raise.IndexModel
@{ ViewData["Title"] = "Raise Invoices"; }
<h1>@ViewData["Title"]</h1>

<p>
    <a asp-page="./Create" asp-route-InvoiceType="@Model.InvoiceType" class="btn btn-outline-primary w-25">New Entry</a>
</p>

<form class="mb-3">
    <p>
        <select asp-for="InvoiceType" asp-items="Model.InvoiceTypes">
            <option value="">All</option>
        </select>
        <input type="submit" value="Filter" class="btn btn-primary" />
    </p>
</form>
<table class="table  table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Invoice_Entries[0].UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoice_Entries[0].SubjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoice_Entries[0].InvoiceType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoice_Entries[0].InvoicedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoice_Entries[0].CashDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoice_Entries[0].EntryValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoice_Entries[0].ItemReference)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Invoice_Entries)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    <a asp-page="/Subject/Enquiry/Index" asp-route-accountCode="@item.SubjectCode">
                        @Html.DisplayFor(modelItem => item.SubjectName)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InvoiceType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InvoicedOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CashDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EntryValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemReference)
                </td>
                <td>
                    <a asp-page="./Details" asp-route-accountCode="@item.SubjectCode" asp-route-cashCode="@item.CashCode" class="btn btn-info"></a>
                    <a asp-page="./Edit" asp-route-accountCode="@item.SubjectCode" asp-route-cashCode="@item.CashCode" class="btn btn-secondary"></a>
                    <a asp-page="./Post" asp-route-accountCode="@item.SubjectCode" asp-route-cashCode="@item.CashCode" class="btn btn-warning"></a>
                    <a asp-page="./Delete" asp-route-accountCode="@item.SubjectCode" asp-route-cashCode="@item.CashCode" class="btn btn-danger"></a>
                </td>
            </tr>
        }
    </tbody>
</table>
<form method="post">
    <p>
        <input type="submit" value="Post All" class="btn btn-primary" />
    </p>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
