@page
@model TradeControl.Web.Pages.Admin.EventLog.IndexModel
@{ ViewData["Title"] = "Event Log"; }
<h1>@ViewData["Title"]</h1>

<table class="table  table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.App_EventLog[0].LoggedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.App_EventLog[0].EventType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.App_EventLog)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LoggedOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventType)
                </td>
                <td>
                    <a asp-page="./Details" asp-route-logCode="@item.LogCode" class="btn btn-info"></a>
                    <a asp-page="./Delete" asp-route-logCode="@item.LogCode" class="btn btn-danger"></a>
                    @{
                        if (User.IsInRole(Constants.AdministratorsRole))
                        {
                            <a asp-page="./Delete" asp-route-logCode="@item.LogCode" class="btn btn-danger"></a>
                        }
                        if (item.EventTypeCode == 0)
                        {
                            <a class="btn btn-warning" href="mailto:office@tradecontrol.co.uk?subject=Error Log Submission&body=@item.LogCode - @item.EventMessage"></a>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

