@page
@model TradeControl.Web.Pages.Org.Update.DeleteModel

@{ ViewData["Title"] = "Delete"; }

<h1>@ViewData["Title"]</h1>
<hr />
<h3>Are you sure you want to delete this?</h3>

<div>
    <h4>@Html.DisplayFor(model => model.OrgAccount.AccountName)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrgAccount.AccountCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrgAccount.AccountCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrgAccount.OrganisationType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrgAccount.OrganisationType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrgAccount.OrganisationStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrgAccount.OrganisationStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrgAccount.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrgAccount.Address)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="OrgAccount.AccountCode" />
        <input type="submit" value="DELETE" class="btn btn-danger" />
        <a asp-page="./Index" asp-route-organisationType="@Model.OrgAccount.OrganisationType" class="btn btn-info">To List</a>
    </form>
</div>

