@page
@model TradeControl.Web.Pages.Cash.Transfer.IndexModel
@{ ViewData["Title"] = "Bank Transfers"; }
<h1>@ViewData["Title"]</h1>

<p>
    <a asp-page="Create" class="btn btn-outline-primary">New Transfer</a>
</p>

<table class="table  table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cash_TransfersUnposted[0].CashAccountCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cash_TransfersUnposted[0].PaidOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cash_TransfersUnposted[0].PaidInValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cash_TransfersUnposted[0].PaidOutValue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Cash_TransfersUnposted)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CashAccountCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaidOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaidInValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaidOutValue)
                </td>
                <td>
                    <a asp-page="./PostEntry" asp-route-paymentCode="@item.PaymentCode" class="btn btn-warning"></a>
                    <a asp-page="./Edit" asp-route-paymentCode="@item.PaymentCode" class="btn btn-secondary"></a>
                    <a asp-page="./Delete" asp-route-paymentCode="@item.PaymentCode" class="btn btn-danger"></a>
                </td>
            </tr>
        }
    </tbody>
</table>

