@page
@model TradeControl.Web.Pages.Cash.Transfer.IndexModel
@{ ViewData["Title"] = "Bank Transfers"; }
<h1>@ViewData["Title"]</h1>

<p>
    <a asp-page="Create" class="btn btn-outline-primary w-25">New Transfer</a>
</p>

<table class="table  table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cash_TransfersUnposted[0].AccountCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cash_TransfersUnposted[0].PaidOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cash_TransfersUnposted[0].SubjectCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cash_TransfersUnposted[0].PaymentReference)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cash_TransfersUnposted[0].PaidInValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cash_TransfersUnposted[0].PaidOutValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cash_TransfersUnposted[0].CashCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cash_TransfersUnposted[0].UserId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Cash_TransfersUnposted)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaidOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubjectCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentReference)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaidInValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaidOutValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CashCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    <a asp-page="./PostEntry" asp-route-paymentCode="@item.PaymentCode" class="btn btn-warning"></a>
                    <a asp-page="./Edit" asp-route-paymentCode="@item.PaymentCode" class="btn btn-secondary"></a>
                    <a asp-page="./Delete" asp-route-paymentCode="@item.PaymentCode" class="btn btn-danger"></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
