@page
@inject Wangkanai.Detection.Services.IDetectionService Detection
@using Wangkanai.Detection.Models
@model TradeControl.Web.Pages.Tax.TaxCode.IndexModel

@{
    ViewData["Title"] = "Tax Codes";
    var btnWidthClass = (Detection?.Device?.Type == Device.Mobile) ? "w-100" : "w-25";
}

<h1>@ViewData["Title"]</h1>

<div class="row g-2 mb-3">
    <div class="col-12 col-sm-3 d-flex">
        <a asp-page="Create" asp-route-taxType="@Model.TaxType"
           class="btn btn-outline-primary w-100 d-flex align-items-center justify-content-center"
           title="Create New Tax Code">
            <span class="text-truncate">New Tax Code</span>
        </a>
    </div>
</div>

<form class="mb-3" method="get">
    <div class="row g-2 align-items-center">
        <div class="col-auto">
            <select asp-for="TaxType" asp-items="Model.TaxTypes" class="form-control">
                <option value="">All</option>
            </select>
        </div>
        <div class="col-auto">
            <label class="visually-hidden" for="SearchString">Description</label>
            <input type="text" asp-for="SearchString" id="SearchString" class="form-control" placeholder="Description" />
        </div>
        <div class="col-auto">
            <input type="submit" value="Filter" class="btn btn-primary" />
        </div>
    </div>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            @if (Detection?.Device?.Type != Device.Mobile)
            {
                <th>@Html.DisplayNameFor(model => model.App_TaxCodes[0].TaxCode)</th>
            }
            <th>@Html.DisplayNameFor(model => model.App_TaxCodes[0].TaxDescription)</th>
            @if (Detection?.Device?.Type != Device.Mobile)
            {
                <th>@Html.DisplayNameFor(model => model.App_TaxCodes[0].TaxType)</th>
            }
            <th>@Html.DisplayNameFor(model => model.App_TaxCodes[0].TaxRate)</th>
            @if (Detection?.Device?.Type != Device.Mobile)
            {
                <th>@Html.DisplayNameFor(model => model.App_TaxCodes[0].Rounding)</th>
                <th>@Html.DisplayNameFor(model => model.App_TaxCodes[0].UpdatedBy)</th>
                <th>@Html.DisplayNameFor(model => model.App_TaxCodes[0].UpdatedOn)</th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.App_TaxCodes)
        {
            <tr>
                @if (Detection?.Device?.Type != Device.Mobile)
                {
                    <td>@Html.DisplayFor(modelItem => item.TaxCode)</td>
                }
                <td>@Html.DisplayFor(modelItem => item.TaxDescription)</td>
                @if (Detection?.Device?.Type != Device.Mobile)
                {
                    <td>@Html.DisplayFor(modelItem => item.TaxType)</td>
                }
                <td>@Html.DisplayFor(modelItem => item.TaxRate)</td>
                @if (Detection?.Device?.Type != Device.Mobile)
                {
                    <td>@Html.DisplayFor(modelItem => item.Rounding)</td>
                    <td>@Html.DisplayFor(modelItem => item.UpdatedBy)</td>
                    <td>@Html.DisplayFor(modelItem => item.UpdatedOn)</td>
                }
                <td>
                    <div class="action-buttons">
                        <a class="btn btn-secondary" asp-page="./Edit" asp-route-taxCode="@item.TaxCode" title="Edit tax code">
                            <i class="bi bi-pencil-square" aria-hidden="true"></i>
                            <span class="visually-hidden">Edit</span>
                        </a>
                        <a class="btn btn-danger" asp-page="./Delete" asp-route-taxCode="@item.TaxCode" title="Delete tax code">
                            <i class="bi bi-trash" aria-hidden="true"></i>
                            <span class="visually-hidden">Delete</span>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
