@page
@model TradeControl.Web.Pages.Tax.TaxCode.IndexModel
@{ ViewData["Title"] = "Tax Codes"; }
<h1>@ViewData["Title"]</h1>

<p>
    <a asp-page="Create" class="btn btn-outline-primary" asp-route-taxType="@Model.TaxType">New Tax Code</a>
</p>

<form class="form-group" method="get">
    <p>
        <select asp-for="TaxType" asp-items="Model.TaxTypes">
            <option value="">All</option>
        </select>
        Description: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.App_TaxCodes[0].TaxDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.App_TaxCodes[0].TaxRate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.App_TaxCodes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TaxDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TaxRate)
                </td>
                <td>
                    <a asp-page="./Details" asp-route-taxCode="@item.TaxCode" class="btn btn-info"></a>
                    <a asp-page="./Edit" asp-route-taxCode="@item.TaxCode" class="btn btn-secondary"></a>
                    <a asp-page="./Delete" asp-route-taxCode="@item.TaxCode" class="btn btn-danger"></a>
                </td>

            </tr>
        }
    </tbody>
</table>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}