@page
@model TradeControl.Web.Pages.Subject.IndexModel

@{ ViewData["Title"] = "Search"; }
<h1>@ViewData["Title"]</h1>

<form class="form-group" method="get">
    <p>
        <select asp-for="SubjectType" asp-items="Model.SubjectTypes">
            <option value="">All</option>
        </select>
        Name: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table  table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Subject_AccountLookup[0].AccountCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject_AccountLookup[0].AccountName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Subject_AccountLookup)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AccountCode)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.AccountName)
            </td>
            <td>
                <a asp-page="@Model.ReturnUrl" asp-route-accountCode="@item.AccountCode" class="btn btn-info"></a>
            </td>
        </tr>
        }
    </tbody>
</table>
