@page
@inject Wangkanai.Detection.Services.IDetectionService Detection
@using Wangkanai.Detection.Models
@model TradeControl.Web.Pages.Admin.Periods.IndexModel
@{ ViewData["Title"] = "Financial Periods"; }

<h1>@ViewData["Title"]</h1>
<h2>@Model.ActivePeriod</h2>

<form method="post">
    @{
        if (User.IsInRole(Constants.AdministratorsRole))
        {
            <p>
                <button type="submit" asp-page-handler="PeriodEnd" class="btn btn-outline-warning">Period End</button>
                <a asp-page="./Create" class="btn btn-outline-primary">New Year</a>
                <button type="submit" asp-page-handler="RebuildPeriods" class="btn btn-outline-success">Rebuild Periods</button>
                <button type="submit" asp-page-handler="RebuildSystem" class="btn btn-outline-success">Rebuild System</button>
            </p>
        }
    }
</form>

<table class="table table-striped">
    <thead>
        <tr>
            @if (Detection.Device.Type != Wangkanai.Detection.Models.Device.Mobile)
            {
                <th>
                    @Html.DisplayNameFor(model => model.App_Years[0].YearNumber)
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.App_Years[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.App_Years[0].StartMonth)
            </th>
            @if (Detection.Device.Type != Wangkanai.Detection.Models.Device.Mobile)
            {
                <th>
                    @Html.DisplayNameFor(model => model.App_Years[0].CashStatus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.App_Years[0].InsertedBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.App_Years[0].InsertedOn)
                </th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.App_Years)
        {
            <tr>
                @if (Detection.Device.Type != Wangkanai.Detection.Models.Device.Mobile)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.YearNumber)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartMonth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CashStatus)
                </td>
                @if (Detection.Device.Type != Wangkanai.Detection.Models.Device.Mobile)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.InsertedBy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InsertedOn)
                    </td>
                }
                <td>
                    <a asp-page="./Details" asp-route-yearNumber="@item.YearNumber" class="btn btn-info">
                        <i class="bi bi-eye"></i>
                    </a>
                    @{
                        if (User.IsInRole(Constants.AdministratorsRole))
                        {
                            <a asp-page="./Edit" asp-route-yearNumber="@item.YearNumber" class="btn btn-secondary"><i class="bi bi-pencil"></i></a>
                            <a asp-page="./Delete" asp-route-yearNumber="@item.YearNumber" class="btn btn-danger"><i class="bi bi-trash"></i></a>
                        }
                    }
                </td>

            </tr>
        }
    </tbody>
</table>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

