@page
@model TradeControl.Web.Pages.Cash.CashCode.IndexModel

@{ ViewData["Title"] = "Cash Codes"; }
<h1>@ViewData["Title"]</h1>

<form class="form-group" method="get">
    <p>
        <select asp-for="Category" asp-items="Model.Categories">
            <option value="">All</option>
        </select>
        Description: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cash_CodeLookup[0].CashCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cash_CodeLookup[0].CashDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cash_CodeLookup[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cash_CodeLookup[0].CashMode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cash_CodeLookup[0].TaxCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cash_CodeLookup[0].CashType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Cash_CodeLookup)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CashCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CashDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CashMode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TaxCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CashType)
                </td>
                <td>
                    <a asp-page="@Model.ReturnUrl" asp-route-cashCode="@item.CashCode" class="btn btn-info">Select</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}