@page
@model TradeControl.Web.Pages.Org.Type.DeleteModel
@{ ViewData["Title"] = "Type Deletion"; }
<h1>@ViewData["Title"]</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Org_Type.OrganisationType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Org_Type.OrganisationType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Org_Type.CashMode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Org_Type.CashMode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfAccounts)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfAccounts)
        </dd>
    </dl>
    <form method="post">
        <input type="hidden" asp-for="@Model.Org_Type.OrganisationTypeCode" />
        @{
            if (Model.NumberOfAccounts == 0)
            {
                <input type="submit" value="DELETE" class="btn btn-danger" />
            }
        }
        <a asp-page="./Index" class="btn btn-info">To List</a>
    </form>

    </div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
