@page
@inject Wangkanai.Detection.Services.IDetectionService Detection
@using Wangkanai.Detection.Models
@model TradeControl.Web.Pages.Tax.Settings.IndexModel

@{
    ViewData["Title"] = "Tax Settings";
    var btnWidthClass = (Detection?.Device?.Type == Device.Mobile) ? "w-100" : "w-25";
}

<h1>@ViewData["Title"]</h1>

@{
    if (User.IsInRole(Constants.AdministratorsRole))
    {
        <div class="row">
            <div class="col-md-4">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="mb-3">
                        <label asp-for="NetProfitCode" class="control-label"></label>
                        <p>
                            <select asp-for="NetProfitCode" asp-items="Model.Categories" class="form-control"></select>
                        </p>
                    </div>
                    <div class="mb-3">
                        <label asp-for="VatCategoryCode" class="control-label"></label>
                        <p>
                            <select asp-for="VatCategoryCode" asp-items="Model.Categories" class="form-control"></select>
                        </p>
                    </div>
                    <div class="mb-3">
                        <input type="submit" value="UPDATE" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    }
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.App_TaxTypes[0].TaxType)
            </th>
            @if (Detection?.Device?.Type != Device.Mobile)
            {
                <th>
                    @Html.DisplayNameFor(model => model.App_TaxTypes[0].CashDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.App_TaxTypes[0].MonthName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.App_TaxTypes[0].Recurrence)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.App_TaxTypes[0].SubjectName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.App_TaxTypes[0].OffsetDays)
                </th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.App_TaxTypes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TaxType)
                </td>
                @if (Detection?.Device?.Type != Device.Mobile)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.CashDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MonthName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Recurrence)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubjectName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OffsetDays)
                    </td>
                }
                <td>
                    <div class="action-buttons">
                        <a class="btn btn-info" asp-page="./Details" asp-route-taxTypeCode="@item.TaxTypeCode" title="Details">
                            <i class="bi bi-info-circle" aria-hidden="true"></i>
                            <span class="visually-hidden">Details</span>
                        </a>
                        @{
                            if (User.IsInRole(Constants.AdministratorsRole))
                            {
                                <a asp-page="./Edit" asp-route-taxTypeCode="@item.TaxTypeCode" class="btn btn-secondary" title="Edit">
                                    <i class="bi bi-pencil-square" aria-hidden="true"></i>
                                    <span class="visually-hidden">Edit</span>
                                </a>
                            }
                        }
                    </div>
                </td>

            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}