@page
@model TradeControl.Web.Pages.Tax.Settings.IndexModel
@{ ViewData["Title"] = "Tax Settings"; }
<h1>@ViewData["Title"]</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.App_TaxTypes[0].TaxType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.App_TaxTypes[0].CashDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.App_TaxTypes[0].MonthName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.App_TaxTypes[0].Recurrence)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.App_TaxTypes[0].AccountName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.App_TaxTypes[0].OffsetDays)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.App_TaxTypes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TaxType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CashDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MonthName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Recurrence)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OffsetDays)
                </td>

                <td>
                    @{
                        if (User.IsInRole(Constants.AdministratorsRole))
                        {
                            <a asp-page="./Edit" asp-route-taxTypeCode="@item.TaxTypeCode" class="btn btn-secondary"></a>
                        }
                    }
                </td>

            </tr>
        }
    </tbody>
</table>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}