@page
@model TradeControl.Web.Pages.Tax.Settings.IndexModel
@{ ViewData["Title"] = "Tax Settings"; }
<h1>@ViewData["Title"]</h1>

@{
    if (User.IsInRole(Constants.AdministratorsRole))
    {
        <div class="row">
            <div class="col-md-4">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="NetProfitCode" class="control-label"></label>
                        <p>
                            <select asp-for="NetProfitCode" asp-items="Model.Categories" class="form-control"></select>
                        </p>
                    </div>
                    <div class="form-group">
                        <label asp-for="VatCategoryCode" class="control-label"></label>
                        <p>
                            <select asp-for="VatCategoryCode" asp-items="Model.Categories" class="form-control"></select>
                        </p>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="UPDATE" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    }
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.App_TaxTypes[0].TaxType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.App_TaxTypes[0].CashDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.App_TaxTypes[0].MonthName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.App_TaxTypes[0].Recurrence)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.App_TaxTypes[0].SubjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.App_TaxTypes[0].OffsetDays)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.App_TaxTypes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TaxType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CashDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MonthName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Recurrence)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OffsetDays)
                </td>

                <td>
                    @{
                        if (User.IsInRole(Constants.AdministratorsRole))
                        {
                            <a asp-page="./Edit" asp-route-taxTypeCode="@item.TaxTypeCode" class="btn btn-secondary"></a>
                        }
                    }
                </td>

            </tr>
        }
    </tbody>
</table>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}