@page
@model TradeControl.Web.Pages.Org.CashAccount.EditModel
@{ ViewData["Title"] = "New Cash Account"; }
<h1>@ViewData["Title"]</h1>
<hr />
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Org_CashAccount.AccountCode)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.OrganisationName)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Org_CashAccount.AccountTypeCode)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.AccountType)
    </dd>
</dl>

    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Org_CashAccount.CashAccountCode" class="control-label"></label>
                    <input asp-for="Org_CashAccount.CashAccountCode" class="form-control" />
                    <span asp-validation-for="Org_CashAccount.CashAccountCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Org_CashAccount.CashAccountName" class="control-label"></label>
                    <input asp-for="Org_CashAccount.CashAccountName" class="form-control" />
                    <span asp-validation-for="Org_CashAccount.CashAccountName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Org_CashAccount.CashCode" class="control-label"></label>
                    <p>
                        <select asp-for="CashDescription" asp-items="Model.CashCodes" class="form-control"></select>
                    </p>
                    <input type="hidden" asp-for="Org_CashAccount.CashCode" />
                    <span asp-validation-for="Org_CashAccount.CashCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Org_CashAccount.LiquidityLevel" class="control-label"></label>
                    <input asp-for="Org_CashAccount.LiquidityLevel" class="form-control" />
                    <span asp-validation-for="Org_CashAccount.LiquidityLevel" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Org_CashAccount.AccountNumber" class="control-label"></label>
                    <input asp-for="Org_CashAccount.AccountNumber" class="form-control" />
                    <span asp-validation-for="Org_CashAccount.AccountNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Org_CashAccount.SortCode" class="control-label"></label>
                    <input asp-for="Org_CashAccount.SortCode" class="form-control" />
                    <span asp-validation-for="Org_CashAccount.SortCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Org_CashAccount.OpeningBalance" class="control-label"></label>
                    <input asp-for="Org_CashAccount.OpeningBalance" class="form-control" />
                    <span asp-validation-for="Org_CashAccount.OpeningBalance" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input asp-for="Org_CashAccount.AccountClosed" class="form-check-input" /> @Html.DisplayNameFor(model => model.Org_CashAccount.AccountClosed)
                    </label>
                    <span asp-validation-for="Org_CashAccount.AccountClosed" class="text-danger"></span>
                </div>

                <input type="hidden" asp-for="Org_CashAccount.AccountCode" />
                <input type="hidden" asp-for="Org_CashAccount.AccountTypeCode" />
                <input type="hidden" asp-for="Org_CashAccount.CurrentBalance" />
                <input type="hidden" asp-for="Org_CashAccount.InsertedBy" />
                <input type="hidden" asp-for="Org_CashAccount.InsertedOn" />
                <input type="hidden" asp-for="Org_CashAccount.UpdatedBy" />
                <input type="hidden" asp-for="Org_CashAccount.UpdatedOn" />

                <div class="form-group">
                    <input type="submit" value="UPDATE ACCOUNT" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>


    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

