@page
@model TradeControl.Web.Pages.Invoice.Template.AttachmentsModel
@{ ViewData["Title"] = "Email Attachments"; }
<h1>@ViewData["Title"]</h1>
<h4>@Model.InvoiceType</h4>


<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Web_AttachmentInvoices[0].AttachmentFileName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Web_AttachmentInvoices)
        {
            <tr>
                <td>
                   @Html.DisplayFor(modelItem => item.AttachmentFileName)
                </td>
                <td>
                    <a asp-page="./AttachmentRemove" asp-route-attachmentId="@item.AttachmentId" asp-route-invoiceType="@Model.InvoiceType" class="btn btn-danger"></a>
                </td>

            </tr>
        }
    </tbody>
</table>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AttachmentFileName" class="control-label"></label>
                <p>
                    <select asp-for="AttachmentFileName" asp-items="Model.AttachmentFileNames" class="form-control"></select>
                </p>
            </div>
            <div class="form-group">
                <input type="submit" value="ASSIGN" class="btn btn-primary" />
                <a asp-page="./Index" class="btn btn-outline-info">Templates</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

