@page
@model TradeControl.Web.Pages.Invoice.Template.TemplateRemoveModel
@{ ViewData["Title"] = "Unassign Template"; }
<h1>@ViewData["Title"]</h1>

<div>
    <h4>@Html.DisplayFor(model => model.Web_TemplateInvoice.InvoiceType)</h4>
    <hr />
    <form method="post">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Web_TemplateInvoice.TemplateFileName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Web_TemplateInvoice.TemplateFileName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Web_TemplateInvoice.LastUsedOn)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Web_TemplateInvoice.LastUsedOn)
            </dd>
        </dl>

        <input type="hidden" asp-for="Web_TemplateInvoice.InvoiceTypeCode" />
        <input type="hidden" asp-for="Web_TemplateInvoice.InvoiceType" />
        <input type="hidden" asp-for="Web_TemplateInvoice.TemplateId" />
        <input type="hidden" asp-for="Web_TemplateInvoice.TemplateFileName" />
        <input type="hidden" asp-for="Web_TemplateInvoice.LastUsedOn" />

        <div class="form-group">
            <input type="submit" value="DELETE" class="btn btn-danger" />
            <a asp-page="./Index" asp-route-invoiceType="@Model.Web_TemplateInvoice.InvoiceType" class="btn btn-info">To List</a>
        </div>

    </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
