@page
@model IndexModel

@{
    ViewData["Title"] = "Trade Control";
}

<div>
    <img src="@Url.Content("~/content/images/company_logo.png")" alt="Company Logo" width="200" />
</div>

<p />

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.App_Identity.WebSite)
        </dt>
        <dd class="col-sm-10">
            <a href=@Model.App_Identity.WebSite>@Html.DisplayFor(model => model.App_Identity.AccountName)</a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.App_Identity.EmailAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.App_Identity.EmailAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.App_Identity.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.App_Identity.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            On-line Help
        </dt>
        <dd class="col-sm-10">
            <a href="https://tradecontrol.github.io">Technical Documentation</a>
        </dd>

    </dl>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
