@page
@model TradeControl.Web.Pages.Subject.Update.EditModel
@{
    ViewData["Title"] = "Edit Organisation";
}
<h1>@ViewData["Title"]</h1>
<h2>@Html.DisplayFor(model => model.Subject_tbSubject.SubjectCode)</h2>
<h3>@Html.DisplayFor(model => model.Subject_tbSubject.SubjectName)</h3>
<hr />

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Subject_tbSubject.SubjectCode" />
            <input type="hidden" asp-for="Subject_tbSubject.AddressCode" />
            <input type="hidden" asp-for="Subject_tbSubject.Logo" />
            <input type="hidden" asp-for="Subject_tbSubject.InsertedBy" />
            <input type="hidden" asp-for="Subject_tbSubject.InsertedOn" />
            <input type="hidden" asp-for="Subject_tbSubject.UpdatedBy" />
            <input type="hidden" asp-for="Subject_tbSubject.UpdatedOn" />

            <div>
                <a asp-page="/Org/Address/Index" asp-route-accountCode="@Model.Subject_tbSubject.SubjectCode" class="btn btn-secondary">Addresses</a>
                <a asp-page="/Org/Contact/Index" asp-route-accountCode="@Model.Subject_tbSubject.SubjectCode" class="btn btn-secondary">Contacts</a>
            </div>
            <p />

            <div class="mb-3">
                <label asp-for="Subject_tbSubject.SubjectName" class="control-label"></label>
                <input asp-for="Subject_tbSubject.SubjectName" class="form-control" />
                <span asp-validation-for="Subject_tbSubject.SubjectName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Subject_tbSubject.SubjectTypeCode" class="control-label"></label>
                <p>
                    <select asp-for="SubjectType" asp-items="Model.SubjectTypes" class="form-control"></select>
                </p>
            </div>
            <div class="mb-3">
                <label asp-for="Subject_tbSubject.SubjectStatusCode" class="control-label"></label>
                <p>
                    <select asp-for="SubjectStatus" asp-items="Model.SubjectStatuses" class="form-control"></select>
                </p>
            </div>
            <div class="mb-3">
                <label asp-for="Subject_tbSubject.TaxCode" class="control-label"></label>
                <p>
                    <select asp-for="TaxDescription" asp-items="Model.TaxCodes" class="form-control"></select>
                </p>
                <span asp-validation-for="Subject_tbSubject.TaxCode" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Subject_tbSubject.PaymentTerms" class="control-label"></label>
                <input asp-for="Subject_tbSubject.PaymentTerms" class="form-control" />
                <span asp-validation-for="Subject_tbSubject.PaymentTerms" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Subject_tbSubject.PaymentDays" class="control-label"></label>
                <input asp-for="Subject_tbSubject.PaymentDays" class="form-control" />
                <span asp-validation-for="Subject_tbSubject.PaymentDays" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Subject_tbSubject.ExpectedDays" class="control-label"></label>
                <input asp-for="Subject_tbSubject.ExpectedDays" class="form-control" />
                <span asp-validation-for="Subject_tbSubject.ExpectedDays" class="text-danger"></span>
            </div>
            <div class="form-check-inline">
                <label asp-for="Subject_tbSubject.PayDaysFromMonthEnd" class="control-label"></label>
                <input asp-for="Subject_tbSubject.PayDaysFromMonthEnd" class="form-control" />
                <span asp-validation-for="Subject_tbSubject.PayDaysFromMonthEnd" class="text-danger"></span>
            </div>
            <div class="form-check-inline">
                <label asp-for="Subject_tbSubject.PayBalance" class="control-label"></label>
                <input asp-for="Subject_tbSubject.PayBalance" class="form-control" />
                <span asp-validation-for="Subject_tbSubject.PayBalance" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Subject_tbSubject.OpeningBalance" class="control-label"></label>
                <input asp-for="Subject_tbSubject.OpeningBalance" class="form-control" />
                <span asp-validation-for="Subject_tbSubject.OpeningBalance" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Subject_tbSubject.EmailAddress" class="control-label"></label>
                <input asp-for="Subject_tbSubject.EmailAddress" class="form-control" inputmode="email" />
                <span asp-validation-for="Subject_tbSubject.EmailAddress" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Subject_tbSubject.PhoneNumber" class="control-label"></label>
                <input asp-for="Subject_tbSubject.PhoneNumber" class="form-control" inputmode="tel" />
                <span asp-validation-for="Subject_tbSubject.PhoneNumber" class="text-danger"></span>
            </div>

            <div>
                <input type="submit" value="SAVE" class="btn btn-primary" />
                <a asp-page="./Index" asp-route-accountCode="@Model.Subject_tbSubject.SubjectCode" class="btn btn-info">To List</a>
            </div>
            <p />
            <h2>Additional Information</h2>
            <div class="mb-3">
                <label asp-for="Subject_tbSubject.WebSite" class="control-label"></label>
                <input asp-for="Subject_tbSubject.WebSite" class="form-control" />
                <span asp-validation-for="Subject_tbSubject.WebSite" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Subject_tbSubject.AreaCode" class="control-label"></label>
                <input asp-for="Subject_tbSubject.AreaCode" class="form-control" />
                <span asp-validation-for="Subject_tbSubject.AreaCode" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Subject_tbSubject.SubjectSource" class="control-label"></label>
                <input asp-for="Subject_tbSubject.SubjectSource" class="form-control" />
                <span asp-validation-for="Subject_tbSubject.SubjectSource" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Subject_tbSubject.CompanyNumber" class="control-label"></label>
                <input asp-for="Subject_tbSubject.CompanyNumber" class="form-control" />
                <span asp-validation-for="Subject_tbSubject.CompanyNumber" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Subject_tbSubject.VatNumber" class="control-label"></label>
                <input asp-for="Subject_tbSubject.VatNumber" class="form-control" />
                <span asp-validation-for="Subject_tbSubject.VatNumber" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Subject_tbSubject.NumberOfEmployees" class="control-label"></label>
                <input asp-for="Subject_tbSubject.NumberOfEmployees" class="form-control" />
                <span asp-validation-for="Subject_tbSubject.NumberOfEmployees" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Subject_tbSubject.Turnover" class="control-label"></label>
                <input asp-for="Subject_tbSubject.Turnover" class="form-control" />
                <span asp-validation-for="Subject_tbSubject.Turnover" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Subject_tbSubject.SubjectSource" class="control-label"></label>
                <input asp-for="Subject_tbSubject.SubjectSource" class="form-control" />
                <span asp-validation-for="Subject_tbSubject.SubjectSource" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Subject_tbSubject.BusinessDescription" class="control-label"></label>
                <textarea rows="5" asp-for="Subject_tbSubject.BusinessDescription" class="form-control"></textarea>
                <span asp-validation-for="Subject_tbSubject.BusinessDescription" class="text-danger"></span>
            </div>
            <div>
                <input type="submit" value="SAVE" class="btn btn-primary" />
                <a asp-page="./Index" asp-route-accountCode="@Model.Subject_tbSubject.SubjectCode" class="btn btn-info">To List</a>
            </div>
        </form>
    </div>
</div>
