@page
@model TradeControl.Web.Pages.Subject.Update.IndexModel

@{ ViewData["Title"] = "Organisation Maintenance"; }
<h1>@ViewData["Title"]</h1>

<p>
    <a asp-page="Create" asp-route-SubjectType="@Model.SubjectType" class="btn btn-outline-primary w-25">New Account</a>
</p>

<form class="mb-3" method="get">
    <p>
        <select asp-for="SubjectType" asp-items="Model.SubjectTypes">
        </select>
        <select asp-for="SubjectStatus" asp-items="Model.SubjectStatuses">
        </select>
        Name: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" class="btn btn-primary" />
    </p>
</form>

<table class="table  table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Subject_SubjectLookup[0].SubjectCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject_SubjectLookup[0].SubjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject_SubjectLookup[0].SubjectType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject_SubjectLookup[0].CashPolarity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Subject_SubjectLookup)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectCode)
            </td>
            <td>
                <a asp-page="/Org/Enquiry/Index" asp-route-accountCode="@item.SubjectCode">
                    @Html.DisplayFor(modelItem => item.SubjectName)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CashPolarity)
            </td>
            <td>
                <a asp-page="../Enquiry/Details" asp-route-accountCode="@item.SubjectCode" class="btn btn-info"></a>
                <a asp-page="./Edit" asp-route-accountCode="@item.SubjectCode" class="btn btn-secondary"></a>
                <a asp-page="./Delete" asp-route-accountCode="@item.SubjectCode" class="btn btn-danger"></a>
            </td>
        </tr>
        }
    </tbody>
</table>

