@page
@model TradeControl.Web.Pages.Subject.Update.IndexModel

@{ ViewData["Title"] = "Organisations"; }
<h1>@ViewData["Title"]</h1>

<p>
    <a asp-page="Create" asp-route-SubjectType="@Model.SubjectType" class="btn btn-outline-primary w-25">New Account</a>
</p>

<form class="form-group" method="get">
    <p>
        <select asp-for="SubjectType" asp-items="Model.SubjectTypes"></select>
        Name: <input type="text" asp-for="SearchString" />
    </p>
    <p>
        <select asp-for="SubjectStatus" asp-items="Model.SubjectStatuses"></select>
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table  table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Subject_AccountLookup[0].AccountName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Subject_AccountLookup)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountName)
                </td>
                <td>
                    <a asp-page="../Enquiry/Details" asp-route-accountCode="@item.AccountCode" class="btn btn-info"></a>
                    <a asp-page="./Edit" asp-route-accountCode="@item.AccountCode" class="btn btn-secondary"></a>
                    <a asp-page="./Delete" asp-route-accountCode="@item.AccountCode" class="btn btn-danger"></a>
                </td>
            </tr>
        }
    </tbody>
</table>




