@page
@model TradeControl.Web.Pages.Subject.CashAccount.IndexModel
@{ ViewData["Title"] = "Cash Accounts"; }
<h1>@ViewData["Title"]</h1>

<p>
    <a asp-page="Create" asp-route-accountType="@Model.AccountType" class="btn btn-outline-primary">New Account</a>
</p>

<form class="form-group" method="get">
    <p>
        <select asp-for="AccountType" asp-items="Model.AccountTypes"></select>
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Subject_CashAccounts[0].CashAccountName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject_CashAccounts[0].AccountClosed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Subject_CashAccounts)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CashAccountName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountClosed)
                </td>
                <td>
                    <a asp-page="./Details" asp-route-cashAccountCode="@item.CashAccountCode" class="btn btn-info"></a>
                    <a asp-page="./Edit" asp-route-cashAccountCode="@item.CashAccountCode" class="btn btn-secondary"></a>
                    <a asp-page="./Delete" asp-route-cashAccountCode="@item.CashAccountCode" class="btn btn-danger"></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}