@page
@model TradeControl.Web.Pages.Cash.Statement.DetailsModel
@{ ViewData["Title"] = "Payment Details"; }

<h1>@ViewData["Title"]</h1>

<div>
    <h4>@Html.DisplayFor(model => model.Cash_Payment.PaymentCode)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cash_Payment.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cash_Payment.UserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cash_Payment.SubjectCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cash_Payment.SubjectCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cash_Payment.AccountCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cash_Payment.AccountCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cash_Payment.CashCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cash_Payment.CashCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cash_Payment.TaxCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cash_Payment.TaxCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cash_Payment.PaidOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cash_Payment.PaidOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cash_Payment.PaidInValue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cash_Payment.PaidInValue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cash_Payment.PaidOutValue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cash_Payment.PaidOutValue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cash_Payment.PaymentReference)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cash_Payment.PaymentReference)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cash_Payment.IsProfitAndLoss)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cash_Payment.IsProfitAndLoss)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cash_Payment.InsertedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cash_Payment.InsertedOn)
        </dd>
    </dl>
</div>

<div>
    <a asp-page="./Edit" asp-route-paymentCode="@Model.Cash_Payment.PaymentCode" class="btn btn-secondary">Edit</a>
    <a asp-page="./Index" asp-route-paymentCode=@Model.Cash_Payment.PaymentCode class="btn btn-info">To List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}