@page
@inject Wangkanai.Detection.Services.IDetectionService Detection
@model TradeControl.Web.Pages.Cash.Totals.AddTotalModel
@{ ViewData["Title"] = "Select Total"; }
<h1>@ViewData["Title"]</h1>

<div>
    <h4>@Html.DisplayFor(model => model.Cash_Category.Category)</h4>
    <hr />
</div>

<form class="mb-3" method="get">
    <div class="row g-2 align-items-center">
        <div class="col-auto">
            <select asp-for="CategoryType" asp-items="Model.CategoryTypes" class="form-control">
                <option value="">All</option>
            </select>
        </div>
        <div class="col-auto">
            <select asp-for="CashType" asp-items="Model.CashTypes" class="form-control">
                <option value="">All</option>
            </select>
        </div>
        <div class="col-auto">
            <input type="submit" value="Filter" class="btn btn-primary" />
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cash_Candidates[0].CategoryCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cash_Candidates[0].Category)
            </th>

            @if (Detection.Device.Type != Wangkanai.Detection.Models.Device.Mobile)
            {
                <th>
                    @Html.DisplayNameFor(model => model.Cash_Candidates[0].CategoryType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cash_Candidates[0].CashType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cash_Candidates[0].CashPolarity)
                </th>
            }

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Cash_Candidates)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>

                @if (Detection.Device.Type != Wangkanai.Detection.Models.Device.Mobile)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CashType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CashPolarity)
                    </td>
                }

                <td>
                    <div class="action-buttons">
                        <a asp-page="./Edit"
                           asp-route-categoryCode="@Model.Cash_Category.CategoryCode"
                           asp-route-childCode="@item.CategoryCode"
                           class="btn btn-info"
                           title="Select this total">
                            <i class="bi bi-check2-square"></i>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
