@page
@model TradeControl.Web.Pages.Cash.Totals.DeleteModel
@{ ViewData["Title"] = "Cash Total"; }
<h1>@ViewData["Title"]</h1>

<div>
    <h4>@Html.DisplayFor(model => model.Cash_Total.Category)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cash_Total.CategoryCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cash_Total.CategoryCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cash_Total.CashType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cash_Total.CashType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cash_Total.DisplayOrder)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cash_Total.DisplayOrder)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cash_Total.InsertedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cash_Total.InsertedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cash_Total.InsertedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cash_Total.InsertedOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cash_Total.UpdatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cash_Total.UpdatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cash_Total.UpdatedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cash_Total.UpdatedOn)
        </dd>
    </dl>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cash_Total.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Child_Categories)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item)
                </td>
                <td>
                    <a asp-page="./Delete" asp-route-categoryCode="@Model.Cash_Total.CategoryCode" asp-route-remove="@item" class="btn btn-danger"></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<form method="post">
    <input type="hidden" asp-for="@Model.Cash_Total.CategoryCode" />
    <input type="submit" value="DELETE" class="btn btn-danger" />
    <a asp-page="./Index" class="btn btn-info">To List</a>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
