@page
@model TradeControl.Web.Pages.Cash.Totals.IndexModel
@{ ViewData["Title"] = "Cash Totals"; }
<h1>@ViewData["Title"]</h1>

@{
    if (User.IsInRole(Constants.AdministratorsRole))
    {
        <p>
            <a asp-page="./Create" class="btn btn-outline-primary">Create New</a>
        </p>
    }
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cash_Totals[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cash_Totals[0].DisplayOrder)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Cash_Totals)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DisplayOrder)
                </td>
                <td>
                    <a asp-page="./Details" asp-route-categoryCode="@item.CategoryCode" class="btn btn-info"></a>
                    @{
                        if (User.IsInRole(Constants.AdministratorsRole))
                        {
                            <a asp-page="./Edit" asp-route-categoryCode="@item.CategoryCode" class="btn btn-secondary"></a>
                            <a asp-page="./Delete" asp-route-categoryCode="@item.CategoryCode" class="btn btn-danger"></a>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}