@page
@model TradeControl.Web.Pages.Org.Address.IndexModel
@{ ViewData["Title"] = "Organisation Addresses"; }
<h1>@ViewData["Title"]</h1>
<h4>@Html.DisplayFor(model => model.Org_Account.AccountName)</h4>
<hr />
<p>
    <a asp-page="Create" asp-route-accountCode="@Model.Org_Account.AccountCode" class="btn btn-outline-primary w-25">New Address</a>
    <a asp-page="../Update/Edit" asp-route-accountCode="@Model.Org_Account.AccountCode" class="btn btn-info w-25">To Edit</a>
</p>

<table class="table  table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Org_AddressList[0].AddressCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Org_AddressList[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Org_AddressList[0].IsAdminAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Org_AddressList[0].InsertedBy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Org_AddressList)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AddressCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAdminAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InsertedBy)
            </td>
            <td>
                <a asp-page="./Details" asp-route-addressCode="@item.AddressCode" class="btn btn-info"></a>
                <a asp-page="./Edit" asp-route-addressCode="@item.AddressCode" class="btn btn-secondary"></a>
                <a asp-page="./Delete" asp-route-addressCode="@item.AddressCode" class="btn btn-danger"></a>
            </td>
        </tr>
        }
    </tbody>
</table>