@page
@model TradeControl.Web.Pages.Tax.Company.DetailsModel
@{ ViewData["Title"] = "Vat Period Totals"; }

<h1>@ViewData["Title"]</h1>

<div>
    <h4>@Html.DisplayFor(model => model.Cash_CorpTaxTotal.Description)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cash_CorpTaxTotal.Period)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cash_CorpTaxTotal.Period)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cash_CorpTaxTotal.CorporationTaxRate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cash_CorpTaxTotal.CorporationTaxRate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cash_CorpTaxTotal.TaxAdjustment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cash_CorpTaxTotal.TaxAdjustment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cash_CorpTaxTotal.NetProfit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cash_CorpTaxTotal.NetProfit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cash_CorpTaxTotal.CorporationTax)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cash_CorpTaxTotal.CorporationTax)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Index" class="btn btn-info">To List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}