@page
@model TradeControl.Web.Pages.Tax.Company.IndexModel
@{ ViewData["Title"] = "Company Tax Totals"; }
<h1>@ViewData["Title"]</h1>

<p>
    <a asp-page="./Statement" class="btn btn-outline-info w-25">Statement</a>
    <a asp-page="./Statement" class="btn btn-outline-info w-25">Losses Carried Forward</a>
    @{
        if (User.IsInRole(Constants.AdministratorsRole))
        {
            <a asp-page="./Rates" class="btn btn-outline-primary w-25">Tax Rates</a>
        }
    }
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cash_CorpTaxTotals[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cash_CorpTaxTotals[0].Period)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cash_CorpTaxTotals[0].CorporationTaxRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cash_CorpTaxTotals[0].TaxAdjustment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cash_CorpTaxTotals[0].NetProfit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cash_CorpTaxTotals[0].CorporationTax)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Cash_CorpTaxTotals)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Period)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CorporationTaxRate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TaxAdjustment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NetProfit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CorporationTax)
                </td>
                <td>
                    @{
                        if (User.IsInRole(Constants.AdministratorsRole) || User.IsInRole(Constants.ManagersRole))
                        {
                            <a asp-page="./Adjustment" asp-route-startOn="@item.StartOn.ToLongDateString()" class="btn btn-warning"></a>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}