@page
@model TradeControl.Web.Pages.Tax.Company.StatementModel
@{ ViewData["Title"] = "Company Statement"; }
<h1>@ViewData["Title"]</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cash_CorpStatement[0].StartOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cash_CorpStatement[0].TaxDue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cash_CorpStatement[0].TaxPaid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cash_CorpStatement[0].Balance)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Cash_CorpStatement)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StartOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TaxDue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TaxPaid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Balance)
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a asp-page="./Index" class="btn btn-outline-info">Totals</a>
</p>
