@page
@model TradeControl.Web.Pages.Invoice.Update.CreateItemModel
@{ ViewData["Title"] = "Add Item"; }
<h1>@ViewData["Title"]</h1>

<div>
    <h4>@Html.DisplayFor(model => model.Invoice_Header.AccountName)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice_Header.InvoiceNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice_Header.InvoiceNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice_Header.InvoiceType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice_Header.InvoiceType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice_Header.InvoiceStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice_Header.InvoiceStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice_Header.InvoicedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice_Header.InvoicedOn)
        </dd>
    </dl>
</div>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Invoice_Item.CashCode" class="control-label"></label>
                <p>
                    <select asp-for="CashDescription" asp-items="Model.CashDescriptions" class="form-control"></select>
                </p>
                <span asp-validation-for="CashDescription" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Invoice_Item.TaxCode" class="control-label"></label>
                <p>
                    <select asp-for="TaxDescription" asp-items="Model.TaxDescriptions" class="form-control"></select>
                </p>
                <span asp-validation-for="TaxDescription" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Invoice_Item.TotalValue" class="control-label"></label>
                <input asp-for="Invoice_Item.TotalValue" class="form-control" />
                <span asp-validation-for="Invoice_Item.TotalValue" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Invoice_Item.InvoiceValue" class="control-label"></label>
                <input asp-for="Invoice_Item.InvoiceValue" class="form-control" />
                <span asp-validation-for="Invoice_Item.InvoiceValue" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Invoice_Item.ItemReference" class="control-label"></label>
                <input asp-for="Invoice_Item.ItemReference" class="form-control" />
                <span asp-validation-for="Invoice_Item.ItemReference" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="Invoice_Item.InvoiceNumber" />
            <input type="hidden" asp-for="Invoice_Item.CashCode" />
            <input type="hidden" asp-for="Invoice_Item.TaxCode" />


            <div class="form-group">
                <input type="submit" value="ADD" class="btn btn-primary" />
                <a asp-page="./Edit" asp-route-invoiceNumber="@Model.Invoice_Item.InvoiceNumber" class="btn btn-info">To Header</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

