@page
@model TradeControl.Web.Pages.Invoice.Update.DeleteModel
@{ ViewData["Title"] = "Invoice Item"; }
<h1>@ViewData["Title"]</h1>

<div>
    <h4>@Html.DisplayFor(model => model.Invoice_Header.AccountName)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice_Header.InvoiceNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice_Header.InvoiceNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice_Header.InvoicedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice_Header.InvoicedOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice_Header.DueOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice_Header.DueOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice_Header.ExpectedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice_Header.ExpectedOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice_Header.InvoiceType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice_Header.InvoiceType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice_Header.InvoiceStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice_Header.InvoiceStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice_Header.InvoiceValue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice_Header.InvoiceValue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice_Header.TaxValue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice_Header.TaxValue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice_Header.Printed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice_Header.Printed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice_Header.PaymentTerms)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice_Header.PaymentTerms)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice_Header.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice_Header.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice_Header.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice_Header.Notes)
        </dd>
    </dl>
</div>

<form method="post">
    <input type="hidden" asp-for="Invoice_Header.InvoiceNumber" />
    <input type="submit" value="DELETE" class="btn btn-danger" />
    <a asp-page="./Index" class="btn btn-info">To List</a>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

