@page
@model TradeControl.Web.Pages.Invoice.Update.EmailConfirmModel
@{ ViewData["Title"] = "Email Invoice"; }
<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="mb-3">
                <label asp-for="TemplateFileName" class="control-label"></label>
                <p>
                    <select asp-for="TemplateFileName" asp-items="Model.TemplateFileNames" class="form-control"></select>
                </p>
            </div>
            <div class="mb-3">
                <label asp-for="EmailAddress" class="control-label"></label>
                <p>
                    <select asp-for="EmailAddress" asp-items="Model.EmailAddresses" class="form-control"></select>
                </p>
            </div>
            <div class="mb-3">
                <input type="hidden" asp-for="@Model.Invoice_Header.InvoiceNumber" />
                <button type="submit" asp-page-handler="PreviewDocument" class="btn btn-success">PREVIEW</button>
                <button type="submit" asp-page-handler="SubmitDocument" class="btn btn-danger">SUBMIT</button>
                <a asp-page="/Subject/Contact/Create" asp-route-accountCode="@Model.Invoice_Header.SubjectCode" asp-route-returnUrl="Invoice/Update/EmailConfirm" asp-route-invoiceNumber="@Model.Invoice_Header.InvoiceNumber" class="btn btn-info">Contacts</a>
                <a asp-page="./Index" class="btn btn-info">To List</a>
            </div>
        </form>
    </div>
</div>
<h2>Header</h2>
<div>
    <h4>@Html.DisplayFor(model => model.Invoice_Header.SubjectName)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice_Header.InvoiceNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice_Header.InvoiceNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice_Header.InvoicedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice_Header.InvoicedOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice_Header.InvoiceType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice_Header.InvoiceType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice_Header.InvoiceStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice_Header.InvoiceStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice_Header.InvoiceValue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice_Header.InvoiceValue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice_Header.Printed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice_Header.Printed)
        </dd>
    </dl>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

