@page
@model TradeControl.Web.Pages.Invoice.Update.IndexModel
@{ ViewData["Title"] = "Invoice Management"; }
<h1>@ViewData["Title"]</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Invoice_Headers[0].AccountCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoice_Headers[0].InvoicedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoice_Headers[0].InvoiceType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoice_Headers[0].InvoiceValue)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Invoice_Headers)
        {
            <tr>
                <td>
                    <a asp-page="/Org/Enquiry/Index" asp-route-accountCode="@item.AccountCode">
                        @Html.DisplayFor(modelItem => item.AccountCode)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InvoicedOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InvoiceType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InvoiceValue)
                </td>
                <td>
                    <a asp-page="/Org/Enquiry/Details" asp-route-accountCode="@item.AccountCode" class="btn btn-info"></a>
                    <a asp-page="./Edit" asp-route-invoiceNumber="@item.InvoiceNumber" class="btn btn-secondary"></a>
                    @{
                        if (item.InvoiceStatusCode <= 1)
                        {
                            <a asp-page="./Delete" asp-route-invoiceNumber="@item.InvoiceNumber" class="btn btn-danger"></a>
                        }
                        if (!item.Printed)
                        {
                            <a asp-page="./EmailConfirm" asp-route-invoiceNumber="@item.InvoiceNumber" class="btn btn-warning"></a>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<form method="post">
    <p>
        <button type="submit" asp-page-handler="MarkAllAsSent" class="btn btn-outline-primary">Mark all as sent</button>
    </p>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
