@page
@model TradeControl.Web.Pages.Org.Edit.EditModel
@{
    ViewData["Title"] = "Edit Organisation";
}
<h1>@ViewData["Title"]</h1>
<h2>@Html.DisplayFor(model => model.Org_tbOrg.AccountCode)</h2>
<h3>@Html.DisplayFor(model => model.Org_tbOrg.AccountName)</h3>
<hr />

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Org_tbOrg.AccountCode" />
            <input type="hidden" asp-for="Org_tbOrg.Logo" />
            <input type="hidden" asp-for="Org_tbOrg.InsertedBy" />
            <input type="hidden" asp-for="Org_tbOrg.InsertedOn" />
            <input type="hidden" asp-for="Org_tbOrg.UpdatedBy" />
            <input type="hidden" asp-for="Org_tbOrg.UpdatedOn" />

            <div>
                <a asp-page="/Org/Address/Index" asp-route-accountCode="@Model.Org_tbOrg.AccountCode" class="btn btn-secondary">Addresses</a>
                <a asp-page="/Org/Contact/Index" asp-route-accountCode="@Model.Org_tbOrg.AccountCode" class="btn btn-secondary">Contacts</a>
            </div>
            <p />

            <div class="form-group">
                <label asp-for="Org_tbOrg.AccountName" class="control-label"></label>
                <input asp-for="Org_tbOrg.AccountName" class="form-control" />
                <span asp-validation-for="Org_tbOrg.AccountName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Org_tbOrg.OrganisationTypeCode" class="control-label"></label>
                <p>
                    <select asp-for="OrganisationType" asp-items="Model.OrganisationTypes" class="form-control"></select>
                </p>
            </div>
            <div class="form-group">
                <label asp-for="Org_tbOrg.OrganisationStatusCode" class="control-label"></label>
                <p>
                    <select asp-for="OrganisationStatus" asp-items="Model.OrganisationStatuses" class="form-control"></select>
                </p>
            </div>
            <div class="form-group">
                <label asp-for="Org_tbOrg.TaxCode" class="control-label"></label>
                <p>
                    <select asp-for="TaxDescription" asp-items="Model.TaxCodes" class="form-control"></select>
                </p>
                <span asp-validation-for="Org_tbOrg.TaxCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Org_tbOrg.PaymentTerms" class="control-label"></label>
                <input asp-for="Org_tbOrg.PaymentTerms" class="form-control" />
                <span asp-validation-for="Org_tbOrg.PaymentTerms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Org_tbOrg.PaymentDays" class="control-label"></label>
                <input asp-for="Org_tbOrg.PaymentDays" class="form-control" />
                <span asp-validation-for="Org_tbOrg.PaymentDays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Org_tbOrg.ExpectedDays" class="control-label"></label>
                <input asp-for="Org_tbOrg.ExpectedDays" class="form-control" />
                <span asp-validation-for="Org_tbOrg.ExpectedDays" class="text-danger"></span>
            </div>
            <div class="form-check-inline">
                <label asp-for="Org_tbOrg.PayDaysFromMonthEnd" class="control-label"></label>
                <input asp-for="Org_tbOrg.PayDaysFromMonthEnd" class="form-control" />
                <span asp-validation-for="Org_tbOrg.PayDaysFromMonthEnd" class="text-danger"></span>
            </div>
            <div class="form-check-inline">
                <label asp-for="Org_tbOrg.PayBalance" class="control-label"></label>
                <input asp-for="Org_tbOrg.PayBalance" class="form-control" />
                <span asp-validation-for="Org_tbOrg.PayBalance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Org_tbOrg.OpeningBalance" class="control-label"></label>
                <input asp-for="Org_tbOrg.OpeningBalance" class="form-control" />
                <span asp-validation-for="Org_tbOrg.OpeningBalance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Org_tbOrg.EmailAddress" class="control-label"></label>
                <input asp-for="Org_tbOrg.EmailAddress" class="form-control" inputmode="email" />
                <span asp-validation-for="Org_tbOrg.EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Org_tbOrg.PhoneNumber" class="control-label"></label>
                <input asp-for="Org_tbOrg.PhoneNumber" class="form-control" inputmode="tel" />
                <span asp-validation-for="Org_tbOrg.PhoneNumber" class="text-danger"></span>
            </div>

            <div>
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-page="./Index" asp-route-accountCode="@Model.Org_tbOrg.AccountCode" class="btn btn-info">Back to List</a>
            </div>
            <p />
            <h2>Additional Information</h2>
            <div class="form-group">
                <label asp-for="Org_tbOrg.WebSite" class="control-label"></label>
                <input asp-for="Org_tbOrg.WebSite" class="form-control" />
                <span asp-validation-for="Org_tbOrg.WebSite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Org_tbOrg.AreaCode" class="control-label"></label>
                <input asp-for="Org_tbOrg.AreaCode" class="form-control" />
                <span asp-validation-for="Org_tbOrg.AreaCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Org_tbOrg.AccountSource" class="control-label"></label>
                <input asp-for="Org_tbOrg.AccountSource" class="form-control" />
                <span asp-validation-for="Org_tbOrg.AccountSource" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Org_tbOrg.CompanyNumber" class="control-label"></label>
                <input asp-for="Org_tbOrg.CompanyNumber" class="form-control" />
                <span asp-validation-for="Org_tbOrg.CompanyNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Org_tbOrg.VatNumber" class="control-label"></label>
                <input asp-for="Org_tbOrg.VatNumber" class="form-control" />
                <span asp-validation-for="Org_tbOrg.VatNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Org_tbOrg.NumberOfEmployees" class="control-label"></label>
                <input asp-for="Org_tbOrg.NumberOfEmployees" class="form-control" />
                <span asp-validation-for="Org_tbOrg.NumberOfEmployees" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Org_tbOrg.Turnover" class="control-label"></label>
                <input asp-for="Org_tbOrg.Turnover" class="form-control" />
                <span asp-validation-for="Org_tbOrg.Turnover" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Org_tbOrg.AccountSource" class="control-label"></label>
                <input asp-for="Org_tbOrg.AccountSource" class="form-control" />
                <span asp-validation-for="Org_tbOrg.AccountSource" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Org_tbOrg.BusinessDescription" class="control-label"></label>
                <textarea rows="5" asp-for="Org_tbOrg.BusinessDescription" class="form-control"></textarea>
                <span asp-validation-for="Org_tbOrg.BusinessDescription" class="text-danger"></span>
            </div>
            <div>
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-page="./Index" asp-route-accountCode="@Model.Org_tbOrg.AccountCode" class="btn btn-info">Back to List</a>
            </div>
        </form>
    </div>
</div>
