@page
@model TradeControl.Web.Pages.Org.Edit.IndexModel

@{ ViewData["Title"] = "Organisation Maintenance"; }
<h1>@ViewData["Title"]</h1>

<p>
    <a asp-page="Create" asp-route-organisationType="@Model.OrganisationType" class="btn btn-outline-primary w-25">New Account</a>
</p>

<form class="form-group" method="get">
    <p>
        <select asp-for="OrganisationType" asp-items="Model.OrganisationTypes">
        </select>
        <select asp-for="OrganisationStatus" asp-items="Model.OrganisationStatuses">
        </select>
        Name: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table  table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Org_AccountLookup[0].AccountCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Org_AccountLookup[0].AccountName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Org_AccountLookup[0].OrganisationType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Org_AccountLookup[0].CashMode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Org_AccountLookup)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AccountCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrganisationType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CashMode)
            </td>
            <td>
                <a asp-page="../Enquiry/Details" asp-route-accountCode="@item.AccountCode" class="btn btn-info"></a>
                <a asp-page="./Edit" asp-route-accountCode="@item.AccountCode" class="btn btn-secondary"></a>
                <a asp-page="./Delete" asp-route-accountCode="@item.AccountCode" class="btn btn-danger"></a>
            </td>
        </tr>
        }
    </tbody>
</table>

