@page
@model TradeControl.Web.Pages.Admin.Host.DeleteModel
@{ ViewData["Title"] = "Delete Host"; }
<h1>@ViewData["Title"]</h1>
<hr />

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.App_tbHost.HostDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.App_tbHost.HostDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.App_tbHost.EmailAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.App_tbHost.EmailAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.App_tbHost.HostName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.App_tbHost.HostName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.App_tbHost.HostPort)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.App_tbHost.HostPort)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.App_tbHost.InsertedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.App_tbHost.InsertedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.App_tbHost.InsertedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.App_tbHost.InsertedOn)
        </dd>
    </dl>
    <form method="post">
        <input type="hidden" asp-for="@Model.App_tbHost.HostId" />
        <input type="submit" value="DELETE" class="btn btn-danger" />
        <a asp-page="./Index" class="btn btn-info">To List</a>
    </form>
</div>