@page
@model TradeControl.Web.Pages.Invoice.Register.DetailsModel
@{ ViewData["Title"] = "Invoice Item"; }
<h1>@ViewData["Title"]</h1>

<div>
    <h4>@Html.DisplayFor(model => model.Invoice_Detail.SubjectName)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice_Detail.InvoiceNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice_Detail.InvoiceNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice_Detail.InvoicedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice_Detail.InvoicedOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice_Detail.DueOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice_Detail.DueOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice_Detail.ExpectedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice_Detail.ExpectedOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice_Detail.InvoiceType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice_Detail.InvoiceType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice_Detail.InvoiceStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice_Detail.InvoiceStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice_Detail.CashDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice_Detail.CashDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice_Detail.ItemReference)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice_Detail.ItemReference)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice_Detail.InvoiceValue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice_Detail.InvoiceValue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice_Detail.TaxValue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice_Detail.TaxValue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice_Detail.TotalValue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice_Detail.TotalValue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice_Detail.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice_Detail.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice_Detail.IsProject)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice_Detail.IsProject)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice_Detail.Printed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice_Detail.Printed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice_Detail.TaxDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice_Detail.TaxDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice_Detail.PaymentTerms)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice_Detail.PaymentTerms)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice_Detail.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice_Detail.UserName)
        </dd>
    </dl>
</div>

<p>
    <a asp-page="./Index" asp-route-periodName="@Model.PeriodName" class="btn btn-info">To Listing</a>
</p>
