@page
@model TradeControl.Web.Pages.Invoice.Register.IndexModel
@{ ViewData["Title"] = "Invoice Register"; }
<h1>@ViewData["Title"]</h1>

<form class="form-group" method="get">
    <p>
        <select asp-for="InvoiceType" asp-items="Model.InvoiceTypes">
            <option value="">All</option>
        </select>
        <select asp-for="PeriodName" asp-items="Model.PeriodNames">
            <option value="">All</option>
        </select>

        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Invoice_Details[0].InvoiceNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoice_Details[0].InvoiceStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoice_Details[0].InvoiceType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoice_Details[0].AccountName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoice_Details[0].CashDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoice_Details[0].ItemReference)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoice_Details[0].InvoicedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoice_Details[0].InvoiceValue)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Invoice_Details)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceType)
            </td>
            <td>
                <a asp-page="/Subject/Enquiry/Index" asp-route-accountCode="@item.AccountCode">
                    @Html.DisplayFor(modelItem => item.AccountName)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CashDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemReference)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvoicedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceValue)
            </td>
            <td>
                <a asp-page="./Details" asp-route-invoiceNumber="@item.InvoiceNumber" asp-route-taskCode="@item.TaskCode" class="btn btn-info"></a>
                <a asp-page="/Invoice/Update/Index" asp-route-invoiceNumber="@item.InvoiceNumber" class="btn btn-secondary"></a>
            </td>
        </tr>
        }
    </tbody>
</table>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalInvoiceValue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalInvoiceValue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalTaxValue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalTaxValue)
        </dd>
    </dl>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
