@page
@inject Wangkanai.Detection.Services.IDetectionService Detection
@model TradeControl.Web.Pages.Invoice.Register.SummaryModel
@{ ViewData["Title"] = "Invoice Summary"; }
<h1>@ViewData["Title"]</h1>

<form class="mb-3" method="get">
    <div class="row g-2 align-items-center">
        <div class="col-auto">
            <select asp-for="PeriodName" asp-items="Model.PeriodNames" class="form-control">
                <option value="">All</option>
            </select>
        </div>
        <div class="col-auto">
            <select asp-for="CashPolarity" asp-items="Model.CashPolaritys" class="form-control">
                <option value="">All</option>
            </select>
        </div>
        <div class="col-auto">
            <input type="submit" value="Filter" class="btn btn-primary" />
        </div>
    </div>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            @{ 
                // Period column shown only when cashCode is present and not on mobile
                if (!string.IsNullOrEmpty(Model.CashCode) && Detection.Device.Type != Wangkanai.Detection.Models.Device.Mobile)
                {
                    <th>
                        @Html.DisplayNameFor(model => model.Invoice_CashCodes[0].PeriodName)
                    </th>
                }
             }
            <th>
                @Html.DisplayNameFor(model => model.Invoice_CashCodes[0].CashCode)
            </th>
            <th>                
                @Html.DisplayNameFor(model => model.Invoice_CashCodes[0].CashDescription)
            </th>

            @* Hide detailed columns on mobile to save horizontal space *@
            @if (Detection.Device.Type != Wangkanai.Detection.Models.Device.Mobile)
            {
                <th>
                    @Html.DisplayNameFor(model => model.Invoice_CashCodes[0].TotalInvoiceValue)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Invoice_CashCodes[0].TotalTaxValue)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Invoice_CashCodes[0].TotalValue)
                </th>
            }
            else
            {
                <th>
                    @Html.DisplayNameFor(model => model.Invoice_CashCodes[0].TotalValue)
                </th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Invoice_CashCodes)
        {
        <tr>
            @{
                if (!string.IsNullOrEmpty(Model.CashCode) && Detection.Device.Type != Wangkanai.Detection.Models.Device.Mobile)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.PeriodName)
                    </td>
                }
            }
            <td>
                @Html.DisplayFor(modelItem => item.CashCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CashDescription)
            </td>

            @if (Detection.Device.Type != Wangkanai.Detection.Models.Device.Mobile)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.TotalInvoiceValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalTaxValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalValue)
                </td>
            }
            else
            {
                <td>
                    @Html.DisplayFor(modelItem => item.TotalValue)
                </td>
            }

            <td>
                <div class="action-buttons">
                    <a asp-page="/Invoice/Register/Summary" asp-route-cashCode="@item.CashCode" class="btn btn-info" title="Drill into cash code">
                        <i class="bi bi-info-circle"></i>
                    </a>
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalInvoiceValue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalInvoiceValue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalTaxValue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalTaxValue)
        </dd>
    </dl>
</div>
