@page
@model TradeControl.Web.Pages.Invoice.Register.UnpaidModel
@{ ViewData["Title"] = "Unpaid Invoices"; }
<h1>@ViewData["Title"]</h1>

<form class="form-group" method="get">
    <p>
        <select asp-for="InvoiceType" asp-items="Model.InvoiceTypes">
            <option value="">All</option>
        </select>
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Invoice_RegisterOverdue[0].AccountCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoice_RegisterOverdue[0].InvoiceType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoice_RegisterOverdue[0].ExpectedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoice_RegisterOverdue[0].UnpaidValue)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Invoice_RegisterOverdue)
        {
        <tr>
            <td>
                <a asp-page="/Org/Enquiry/Index" asp-route-accountCode="@item.AccountCode">
                    @Html.DisplayFor(modelItem => item.AccountCode)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpectedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnpaidValue)
            </td>
            <td>
                <a asp-page="./UnpaidDetail" asp-route-invoiceNumber="@item.InvoiceNumber" class="btn btn-info"></a>
                <a asp-page="/Invoice/Update/Edit" asp-route-invoiceNumber="@item.InvoiceNumber" class="btn btn-secondary"></a>
            </td>
        </tr>
        }
    </tbody>
</table>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalInvoiceValue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalInvoiceValue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPaidValue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalPaidValue)
        </dd>
    </dl>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

