@page
@model TradeControl.Web.Pages.Invoice.Register.UnpaidDetailModel
@{ ViewData["Title"] = "Unpaid Invoice"; }
<h1>@ViewData["Title"]</h1>

<div>
    <h4>@Html.DisplayFor(model => model.Invoice_Detail.AccountName)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice_Detail.InvoiceNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice_Detail.InvoiceNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice_Detail.InvoicedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice_Detail.InvoicedOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice_Detail.DueOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice_Detail.DueOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice_Detail.ExpectedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice_Detail.ExpectedOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice_Detail.UnpaidDays)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice_Detail.UnpaidDays)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice_Detail.InvoiceType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice_Detail.InvoiceType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice_Detail.InvoiceStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice_Detail.InvoiceStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice_Detail.InvoiceValue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice_Detail.InvoiceValue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice_Detail.TaxValue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice_Detail.TaxValue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice_Detail.UnpaidValue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice_Detail.UnpaidValue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice_Detail.PaymentTerms)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice_Detail.PaymentTerms)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice_Detail.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice_Detail.Notes)
        </dd>
    </dl>
</div>

<p>
    <a asp-page="./Unpaid"  class="btn btn-info">To Listing</a>
</p>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

