@page
@using TradeControl.Web.Pages.Cash.CategoryCode
@model TradeControl.Web.Pages.Cash.CategoryCode.CategoryTreeModel
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery
@{
    ViewData["Title"] = "Cash Configuration";
    var isAdmin = User.IsInRole(Constants.AdministratorsRole);
}
<link href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/jquery.fancytree/dist/skin-win8/ui.fancytree.min.css" rel="stylesheet" />
<link href="~/css/categoryTree.css" rel="stylesheet" />
<meta name="request-verification-token" content="@Antiforgery.GetAndStoreTokens(HttpContext).RequestToken" />

<div class="mb-3 d-flex align-items-center gap-2">
    <div>
        <h1 class="mb-0">@ViewData["Title"]</h1>
    </div>
</div>

<!-- prevent wrapping so RHS never drops below LHS -->
<div class="row g-3 align-items-stretch flex-nowrap mx-0">
    <div id="leftCol" class="col-12 col-lg-7 d-flex">
        <div id="categoryTree" class="flex-grow-1 border rounded p-2 bg-white" style="min-height:220px;"></div>
    </div>
    <div id="rightCol" class="d-none d-lg-flex col-lg-5">
        <div id="detailsPane" class="flex-grow-1 border rounded p-2 bg-light"></div>
    </div>
</div>

<partial name="_MobileActionBar" />
<partial name="_TreeContextMenu" />

<!-- Page config for external JS to read -->
<div id="categoryTreeConfig"
     data-nodes-url='@Url.Page("./Index", pageHandler: "Nodes")'
     data-base-url='@Url.Page("./Index")'
     data-details-url='@Url.Page("./Details")'
     data-root='@CategoryTreeModel.RootNodeKey'
     data-disc='@CategoryTreeModel.DisconnectedNodeKey'
     data-is-admin='@isAdmin.ToString().ToLowerInvariant()'>
</div>

@section Scripts {
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery.fancytree/dist/jquery.fancytree-all.min.js"></script>
    <script src="https://unpkg.com/split.js/dist/split.min.js"></script>
    <script src="~/js/categoryTree.js" asp-append-version="true"></script>
    <script src="~/js/categoryTree.page.js" asp-append-version="true"></script>
    <script src="~/js/categoryTree.move.js" asp-append-version="true"></script>
    <script src="~/js/categoryTree.embeddedCreate.js" asp-append-version="true"></script>
    <script src="~/js/categoryTree.delete.js" asp-append-version="true"></script>
    <script src="~/js/categoryTree.cancel.js" asp-append-version="true"></script>
}
