@page
@model TradeControl.Web.Pages.Cash.CategoryCode.IndexModel
@{ ViewData["Title"] = "Categories"; }
<h1>@ViewData["Title"]</h1>

@{
    if (string.IsNullOrEmpty(Model.ReturnUrl))
    {
        <p>
            <a asp-page="./Create" class="btn btn-outline-primary">Create New</a>
        </p>
    }
}

<form class="form-group" method="get">
    <p>
        <select asp-for="CashType" asp-items="Model.CashTypes">
            <option value="">All</option>
        </select>
        Description: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cash_Categories[0].CategoryCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cash_Categories[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cash_Categories[0].CashType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cash_Categories[0].CashMode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cash_Categories[0].DisplayOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cash_Categories[0].IsEnabled)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Cash_Categories)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CashType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CashMode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DisplayOrder)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsEnabled)
                </td>

                <td>
                    @{
                        if (!string.IsNullOrEmpty(Model.ReturnUrl))
                        {
                            <a asp-page="@Model.ReturnUrl" asp-route-categoryCode="@item.CategoryCode" class="btn btn-info">Select</a>
                        }
                        else
                        {
                            <a asp-page="./Details" asp-route-categoryCode="@item.CategoryCode" class="btn btn-info"></a>
                            if (User.IsInRole(Constants.AdministratorsRole))
                            {
                                <a asp-page="./Edit" asp-route-categoryCode="@item.CategoryCode" class="btn btn-secondary"></a>
                                <a asp-page="./Delete" asp-route-categoryCode="@item.CategoryCode" class="btn btn-danger"></a>
                            }
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}