@page
@model TradeControl.Web.Pages.Cash.AssetEntry.IndexModel
@{ ViewData["Title"] = "Unposted Assets"; }
<h1>@ViewData["Title"]</h1>

<p>
    <a asp-page="Create" asp-route-cashSubjectName="@Model.AccountName" class="btn btn-outline-primary w-25">Pay Assets In/Out</a>
    <a asp-page="/Cash/Statement/Index" asp-route-cashSubjectName="@Model.AccountName" asp-route-mode="1" class="btn btn-outline-info w-25">Statement</a>
</p>

<form class="form-group">
    <p>
        <select asp-for="AccountName" asp-items="Model.CashAccounts">
        </select>
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table  table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cash_AssetsUnposted[0].UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cash_AssetsUnposted[0].PaidOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cash_AssetsUnposted[0].PaymentReference)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cash_AssetsUnposted[0].PaidInValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cash_AssetsUnposted[0].PaidOutValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cash_AssetsUnposted[0].CashCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cash_AssetsUnposted[0].IsProfitAndLoss)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Cash_AssetsUnposted)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaidOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentReference)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaidInValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaidOutValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CashCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsProfitAndLoss)
                </td>
                <td>
                    <a asp-page="./PostEntry" asp-route-paymentCode="@item.PaymentCode" class="btn btn-warning"></a>
                    <a asp-page="./Edit" asp-route-paymentCode="@item.PaymentCode" class="btn btn-secondary"></a>
                    <a asp-page="./Delete" asp-route-paymentCode="@item.PaymentCode" class="btn btn-danger"></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
