@page
@model TradeControl.Web.Pages.Admin.FileTransfer.UploadModel

@{ ViewData["Title"] = $"Upload {Model.ContentType}"; }
<h1>@ViewData["Title"]</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaxFileSizeMb)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaxFileSizeMb)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FileExtensions)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FileExtensions)
        </dd>
    </dl>
</div>

<form enctype="multipart/form-data" method="post">
    <dl>
        <dt>
            <label asp-for="FormFiles"></label>
        </dt>
        <dd>
            <input asp-for="FormFiles" type="file" multiple />
        </dd>
    </dl>
    <dl>
        <dt class-result>
            @Model.Result
        </dt>
        <dd>
            <span asp-validation-for="FormFiles"></span>
        </dd>
    </dl>
    <input type="hidden" asp-for="@Model.ContentType" />

    <input asp-page-handler="Upload" class="btn btn-primary" type="submit" value="Upload Files" />
    <a asp-page="./Index" asp-route-contentType="@Model.ContentType" class="btn btn-info">To List</a>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}