@page
@inject Wangkanai.Detection.Services.IDetectionService Detection
@using Wangkanai.Detection.Models
@model TradeControl.Web.Pages.Subject.Enquiry.StatementModel

@{
    ViewData["Title"] = "Statement";
    var btnWidthClass = (Detection?.Device?.Type == Device.Mobile) ? "w-100" : "w-25";
}

<h1>@ViewData["Title"]</h1>

<h4>@Html.DisplayFor(model => model.Subject_Account.SubjectName)</h4>

<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Subject_Statement[0].TransactedOn)</th>
            <th>@Html.DisplayNameFor(model => model.Subject_Statement[0].Reference)</th>
            @if (Detection?.Device?.Type != Device.Mobile)
            {
                <th>@Html.DisplayNameFor(model => model.Subject_Statement[0].StatementType)</th>
                <th>@Html.DisplayNameFor(model => model.Subject_Statement[0].Charge)</th>
            }
            <th>@Html.DisplayNameFor(model => model.Subject_Statement[0].Balance)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Subject_Statement)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.TransactedOn)</td>
                <td>@Html.DisplayFor(modelItem => item.Reference)</td>
                @if (Detection?.Device?.Type != Device.Mobile)
                {
                    <td>@Html.DisplayFor(modelItem => item.StatementType)</td>
                    <td>@Html.DisplayFor(modelItem => item.Charge)</td>
                }
                <td>@Html.DisplayFor(modelItem => item.Balance)</td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a class="btn btn-info @btnWidthClass" asp-page="./Index" asp-route-accountCode="@Model.Subject_Account.SubjectCode" title="Back to list">To List</a>
</p>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

