@page
@model TradeControl.Web.Pages.Cash.PaymentEntry.DeleteModel

@{ ViewData["Title"] = "Delete"; }

<h1>@ViewData["Title"]</h1>
<hr />
<h3>Are you sure you want to delete this?</h3>

<div>
    <h4>@Html.DisplayFor(model => model.Cash_PaymentsUnposted.PaymentCode)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cash_PaymentsUnposted.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cash_PaymentsUnposted.UserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cash_PaymentsUnposted.AccountCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cash_PaymentsUnposted.AccountCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cash_PaymentsUnposted.CashAccountCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cash_PaymentsUnposted.CashAccountCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cash_PaymentsUnposted.CashCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cash_PaymentsUnposted.CashCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cash_PaymentsUnposted.TaxCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cash_PaymentsUnposted.TaxCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cash_PaymentsUnposted.PaidOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cash_PaymentsUnposted.PaidOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cash_PaymentsUnposted.PaidInValue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cash_PaymentsUnposted.PaidInValue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cash_PaymentsUnposted.PaidOutValue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cash_PaymentsUnposted.PaidOutValue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cash_PaymentsUnposted.PaymentReference)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cash_PaymentsUnposted.PaymentReference)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cash_PaymentsUnposted.InsertedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cash_PaymentsUnposted.InsertedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cash_PaymentsUnposted.InsertedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cash_PaymentsUnposted.InsertedOn)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Cash_PaymentsUnposted.PaymentCode" />
        <input type="submit" value="DELETE" class="btn btn-danger" />
        <a asp-page="./Index" asp-route-cashAccountCode="@Model.Cash_PaymentsUnposted.CashAccountCode" class="btn btn-info">To List</a>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}