@page
@model TradeControl.Web.Pages.Cash.PaymentEntry.DetailsModel

@{ ViewData["Title"] = "Payment Details"; }

<h1>@ViewData["Title"]</h1>

<div>
    <h4>@Html.DisplayFor(model => model.Cash_PaymentsUnposted.PaymentCode)</h4>
    <hr />
    <dl class="row">
        @Html.DisplayNameFor(model => model.Cash_PaymentsUnposted.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cash_PaymentsUnposted.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cash_PaymentsUnposted.AccountName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cash_PaymentsUnposted.AccountName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cash_PaymentsUnposted.CashAccountName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cash_PaymentsUnposted.CashAccountName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cash_PaymentsUnposted.CashDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cash_PaymentsUnposted.CashDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cash_PaymentsUnposted.TaxDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cash_PaymentsUnposted.TaxDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cash_PaymentsUnposted.PaidOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cash_PaymentsUnposted.PaidOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cash_PaymentsUnposted.PaidInValue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cash_PaymentsUnposted.PaidInValue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cash_PaymentsUnposted.PaidOutValue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cash_PaymentsUnposted.PaidOutValue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cash_PaymentsUnposted.PaymentReference)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cash_PaymentsUnposted.PaymentReference)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cash_PaymentsUnposted.InsertedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cash_PaymentsUnposted.InsertedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cash_PaymentsUnposted.InsertedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cash_PaymentsUnposted.InsertedOn)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-paymentCode="@Model.Cash_PaymentsUnposted.PaymentCode" class="btn btn-secondary">Edit</a>
    <a asp-page="./Index" asp-route-cashAccountCode="@Model.Cash_PaymentsUnposted.CashAccountCode" class="btn btn-info">To List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}