@page
@model TradeControl.Web.Pages.Cash.PaymentEntry.DetailsModel

@{ ViewData["Title"] = "Payment Details"; }

<h1>@ViewData["Title"]</h1>

<div>
    <h4>@Html.DisplayFor(model => model.Cash_PaymentsUnposted.PaymentCode)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cash_PaymentsUnposted.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cash_PaymentsUnposted.UserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cash_PaymentsUnposted.AccountCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cash_PaymentsUnposted.AccountCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cash_PaymentsUnposted.CashAccountCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cash_PaymentsUnposted.CashAccountCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cash_PaymentsUnposted.CashCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cash_PaymentsUnposted.CashCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cash_PaymentsUnposted.TaxCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cash_PaymentsUnposted.TaxCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cash_PaymentsUnposted.PaidOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cash_PaymentsUnposted.PaidOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cash_PaymentsUnposted.PaidInValue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cash_PaymentsUnposted.PaidInValue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cash_PaymentsUnposted.PaidOutValue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cash_PaymentsUnposted.PaidOutValue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cash_PaymentsUnposted.PaymentReference)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cash_PaymentsUnposted.PaymentReference)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cash_PaymentsUnposted.InsertedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cash_PaymentsUnposted.InsertedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cash_PaymentsUnposted.InsertedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cash_PaymentsUnposted.InsertedOn)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-paymentCode="@Model.Cash_PaymentsUnposted.PaymentCode" class="btn btn-secondary">Edit</a> 
    <a asp-page="./Index" asp-route-cashAccountCode="@Model.Cash_PaymentsUnposted.CashAccountCode" class="btn btn-info">Back to List</a>
</div>
