@page
@model TradeControl.Web.Pages.Cash.PaymentEntry.IndexModel

@{ ViewData["Title"] = "Payment Entry"; }
<h1>@ViewData["Title"]</h1>

<p>
    <a asp-page="Create">Create New - mobile</a>
</p>

<form class="form-group">
    <p>
        <select asp-for="CashAccount" asp-items="Model.CashAccounts">
            <option value="">All</option>
        </select>
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cash_PaymentsUnposted[0].CashAccountCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cash_PaymentsUnposted[0].PaidOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cash_PaymentsUnposted[0].AccountCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Cash_PaymentsUnposted)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CashAccountCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaidOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountCode)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.PaymentCode">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.PaymentCode">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.PaymentCode">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<form method="post">
    <p>
        <input type="submit" value="Post" class="btn btn-primary" />
    </p>
</form>
