@page
@model TradeControl.Web.Pages.Cash.PaymentEntry.IndexModel

@{ ViewData["Title"] = "Payment Entry"; }
<h1>@ViewData["Title"]</h1>

<p>
    <a asp-page="Create" asp-route-cashAccountCode="@Model.CashAccountCode" asp-route-mode="0" class="btn btn-outline-primary">Pay Invoices</a>
    <a asp-page="Create" asp-route-cashAccountCode="@Model.CashAccountCode" asp-route-mode="1" class="btn btn-outline-primary">Miscellaneous Payment</a>
</p>

<form class="form-group">
    <p>
        <select asp-for="CashAccountCode" asp-items="Model.CashAccountNames">
            <option value="">All</option>
        </select>
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table  table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cash_PaymentsUnposted[0].PaidOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cash_PaymentsUnposted[0].AccountCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Cash_PaymentsUnposted)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PaidOn)
                </td>
                <td>
                    <a asp-page="/Org/Enquiry/Index" asp-route-accountCode="@item.AccountCode">
                        @Html.DisplayFor(modelItem => item.AccountCode)
                    </a>
                </td>
                <td>
                    <a asp-page="./Details" asp-route-paymentCode="@item.PaymentCode" class="btn btn-info w-25"></a>
                    <a asp-page="./Edit" asp-route-paymentCode="@item.PaymentCode" class="btn btn-secondary w-25"></a>
                    <a asp-page="./Delete" asp-route-paymentCode="@item.PaymentCode" class="btn btn-danger w-25"></a>
                </td>
            </tr>
        }
    </tbody>
</table>
<form method="post">
    <p>
        <input type="submit" value="Post" class="btn btn-primary" />
    </p>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}