@page
@model TradeControl.Web.Pages.Cash.PaymentEntry.IndexModel

@{ ViewData["Title"] = "Payment Entry"; }
<h1>@ViewData["Title"]</h1>

<p>
    <a asp-page="Create" asp-route-CashAccountCode="@Model.CashAccountCode" asp-route-mode="0" class="btn btn-outline-secondary w-25">Pay Invoices</a>
    <a asp-page="Create" asp-route-CashAccountCode="@Model.CashAccountCode" asp-route-mode="1" class="btn btn-outline-secondary w-25">Miscellaneous Payment</a>
</p>

<form class="form-group">
    <p>
        <select asp-for="CashAccountCode" asp-items="Model.CashAccounts">
            <option value="">All</option>
        </select>
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table  table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cash_PaymentsUnposted[0].CashAccountCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cash_PaymentsUnposted[0].PaidOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cash_PaymentsUnposted[0].AccountCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cash_PaymentsUnposted[0].PaymentReference)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cash_PaymentsUnposted[0].PaidInValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cash_PaymentsUnposted[0].PaidOutValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cash_PaymentsUnposted[0].CashCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cash_PaymentsUnposted[0].TaxCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Cash_PaymentsUnposted)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CashAccountCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaidOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentReference)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaidInValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaidOutValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CashCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaxCode)
            </td>
            <td>
                <a asp-page="./Details" asp-route-paymentCode="@item.PaymentCode" class="btn btn-info"></a>
                <a asp-page="./Edit" asp-route-paymentCode="@item.PaymentCode" class="btn btn-secondary"></a>
                <a asp-page="./Delete" asp-route-paymentCode="@item.PaymentCode" class="btn btn-danger"></a>
            </td>
        </tr>
        }
    </tbody>
</table>
<form method="post">
    <p>
        <input type="submit" value="Post" class="btn btn-primary" />
    </p>
</form>
