@page
@model TradeControl.Web.Pages.Cash.Accounts.BalanceSheetModel
@{ ViewData["Title"] = "Balance Sheet"; }
<h1>@ViewData["Title"]</h1>

<form class="mb-3" method="get">
    <p>
        <select asp-for="PeriodName" asp-items="Model.PeriodNames">
        </select>

        <input type="submit" value="Generate" class="btn btn-primary" />
    </p>
</form>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cash_BalanceSheet[0].AssetName)
            </th>
            <th>
                @Html.DisplayFor(model => model.PeriodName)
            </th>
            <th>
                @Html.DisplayFor(model => model.PeriodNamePrevious)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Cash_BalanceSheet)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AssetName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentBalance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PreviousBalance)
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}