@page
@model TradeControl.Web.Pages.Cash.Accounts.ProfitAndLossModel
@{ ViewData["Title"] = "Profit and Loss"; }
<h1>@ViewData["Title"]</h1>

<p>
    <a asp-page="./ProfitAndLossByPeriod" class="btn btn-outline-info">Monthly Statements</a>
</p>

<form class="mb-3" method="get">
    <p>
        <select asp-for="YearName" asp-items="Model.YearNames">
        </select>

        <input type="submit" value="Generate" class="btn btn-primary" />
    </p>
</form>

<h3>Accounts</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cash_ProfitAndLoss[0].CategoryCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cash_ProfitAndLoss[0].Category)
            </th>
            <th>
                @Html.DisplayFor(model => model.YearName)
            </th>
            <th>
                @Html.DisplayFor(model => model.YearNamePrevious)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Cash_ProfitAndLoss)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PreviousValue)
                </td>
            </tr>
        }
    </tbody>
</table>

<h3>Tax Totals</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cash_TaxTotals[0].CategoryCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cash_TaxTotals[0].Category)
            </th>
            <th>
                @Html.DisplayFor(model => model.YearName)
            </th>
            <th>
                @Html.DisplayFor(model => model.YearNamePrevious)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Cash_TaxTotals)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PreviousValue)
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.Raw(Model.DetailsHtml)

@{
    if (string.IsNullOrEmpty(Model.DetailsHtml))
    {
        <div>
            <a asp-page="./ProfitAndLoss" asp-route-mode="0" asp-route-YearName="@Model.YearName" class="btn btn-info">Show Details</a>
        </div>
    }
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}