@page
@model TradeControl.Web.Pages.Cash.Accounts.ProfitAndLossByMonthModel
@{ ViewData["Title"] = "P&L By Month"; }
<h1>@ViewData["Title"]</h1>

<p>
    <a asp-page="./ProfitAndLoss" class="btn btn-outline-info">Annual Accounts</a>
</p>

<form class="form-group" method="get">
    <p>
        <select asp-for="PeriodName" asp-items="Model.PeriodNames">
        </select>

        <input type="submit" value="Generate" />
    </p>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cash_ProfitAndLoss[0].Category)
            </th>
            <th>
                @Html.DisplayFor(model => model.PeriodName)
            </th>
            <th>
                @Html.DisplayFor(model => model.PeriodNamePrevious)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Cash_ProfitAndLoss)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PreviousValue)
                </td>
            </tr>
        }
    </tbody>
</table>
