@page
@model TradeControl.Web.Pages.Cash.Accounts.ProfitAndLossByPeriodModel
@{ ViewData["Title"] = "P&L By Month"; }
<h1>@ViewData["Title"]</h1>

<p>
    <a asp-page="./ProfitAndLoss" class="btn btn-outline-info">Annual Accounts</a>
</p>

<form class="mb-3" method="get">
    <div class="row g-2 align-items-center">
        <div class="col-auto">
            <label class="visually-hidden" for="PeriodName">Period</label>
            <select asp-for="PeriodName" asp-items="Model.PeriodNames" id="PeriodName" class="form-control"></select>
        </div>
        <div class="col-auto">
            <input type="submit" value="Generate" class="btn btn-primary" />
        </div>
    </div>
</form>

<h3>Accounts</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cash_ProfitAndLoss[0].CategoryCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cash_ProfitAndLoss[0].Category)
            </th>
            <th>
                @Html.DisplayFor(model => model.PeriodName)
            </th>
            <th>
                @Html.DisplayFor(model => model.PeriodNamePrevious)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Cash_ProfitAndLoss)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PreviousValue)
                </td>
            </tr>
        }
    </tbody>
</table>

<h3>Tax Totals</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cash_TaxTotals[0].CategoryCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cash_TaxTotals[0].Category)
            </th>
            <th>
                @Html.DisplayFor(model => model.PeriodName)
            </th>
            <th>
                @Html.DisplayFor(model => model.PeriodNamePrevious)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Cash_TaxTotals)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PreviousValue)
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.Raw(Model.DetailsHtml)

@{
    if (string.IsNullOrEmpty(Model.DetailsHtml))
    {
        <div>
            <a asp-page="./ProfitAndLossByPeriod" asp-route-mode="0" asp-route-PeriodName="@Model.PeriodName" class="btn btn-info">Show Details</a>
        </div>
    }
}
