@page
@model TradeControl.Web.Pages.Org.Contact.EditModel
@{ ViewData["Title"] = "New Address"; }
<h1>@ViewData["Title"]</h1>
<hr />

<h3>@Html.DisplayFor(model => model.AccountName)</h3>
<h4>@Html.DisplayFor(model => model.Org_tbContact.ContactName)</h4>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Org_tbContact.AccountCode" />
            <input type="hidden" asp-for="Org_tbContact.ContactName" />
            <input type="hidden" asp-for="Org_tbContact.InsertedBy" />
            <input type="hidden" asp-for="Org_tbContact.UpdatedBy" />
            <input type="hidden" asp-for="Org_tbContact.InsertedOn" />
            <input type="hidden" asp-for="Org_tbContact.UpdatedOn" />

            <div class="form-group">
                <label asp-for="Org_tbContact.EmailAddress" class="control-label"></label>
                <input asp-for="Org_tbContact.EmailAddress" class="form-control" />
                <span asp-validation-for="Org_tbContact.EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Org_tbContact.MobileNumber" class="control-label"></label>
                <input asp-for="Org_tbContact.MobileNumber" class="form-control" />
                <span asp-validation-for="Org_tbContact.MobileNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Org_tbContact.PhoneNumber" class="control-label"></label>
                <input asp-for="Org_tbContact.PhoneNumber" class="form-control" />
                <span asp-validation-for="Org_tbContact.PhoneNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="SAVE" class="btn btn-primary" />
                <a asp-page="./Index" asp-route-accountCode="@Model.Org_tbContact.AccountCode" class="btn btn-info">To List</a>
            </div>

            <h4>Additional Info</h4>

            <div class="form-group">
                <label asp-for="Org_tbContact.NameTitle" class="control-label"></label>
                <input asp-for="Org_tbContact.NameTitle" class="form-control" />
                <span asp-validation-for="Org_tbContact.NameTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Org_tbContact.JobTitle" class="control-label"></label>
                <input asp-for="Org_tbContact.JobTitle" class="form-control" />
                <span asp-validation-for="Org_tbContact.JobTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Org_tbContact.HomeNumber" class="control-label"></label>
                <input asp-for="Org_tbContact.HomeNumber" class="form-control" />
                <span asp-validation-for="Org_tbContact.HomeNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Org_tbContact.Department" class="control-label"></label>
                <input asp-for="Org_tbContact.Department" class="form-control" />
                <span asp-validation-for="Org_tbContact.Department" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Org_tbContact.Information" class="control-label"></label>
                <textarea rows="5" asp-for="Org_tbContact.Information" class="form-control"></textarea>
                <span asp-validation-for="Org_tbContact.Information" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="SAVE" class="btn btn-primary" />
                <a asp-page="./Index" asp-route-accountCode="@Model.Org_tbContact.AccountCode" class="btn btn-info">To List</a>
            </div>
        </form>

    </div>
</div>