@page
@model TradeControl.Web.Pages.Org.Contact.IndexModel
@{ ViewData["Title"] = "Contacts"; }
<h1>@ViewData["Title"]</h1>
<h4>@Html.DisplayFor(model => model.Org_Account.AccountName)</h4>
<hr />
<p>
    <a asp-page="Create" asp-route-accountCode="@Model.Org_Account.AccountCode" class="btn btn-outline-primary">New Contact</a>
    <a asp-page="../Edit/Edit" asp-route-accountCode="@Model.Org_Account.AccountCode" class="btn btn-info">To Edit</a>
    
</p>
<table class="table  table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Org_Contacts[0].ContactName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Org_Contacts[0].EmailAddress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Org_Contacts)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ContactName)
            </td>
            <td>
                <a href="mailto:@Html.DisplayFor(modelItem => item.EmailAddress)">@Html.DisplayFor(modelItem => item.EmailAddress)</a>
            </td>
            <td>
                <a asp-page="./Details" asp-route-accountCode="@item.AccountCode" asp-route-contactName="@item.ContactName" class="btn btn-info"></a>
                <a asp-page="./Edit" asp-route-accountCode="@item.AccountCode" asp-route-contactName="@item.ContactName" class="btn btn-secondary"></a>
                <a asp-page="./Delete" asp-route-accountCode="@item.AccountCode" asp-route-contactName="@item.ContactName" class="btn btn-danger"></a>
            </td>
        </tr>
        }
    </tbody>
</table>