@page
@model TradeControl.Web.Pages.Admin.Calendar.CreateModel

@{ ViewData["Title"] = "Create Calendar Mobile"; }

<h1>@ViewData["Title"]</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="App_tbCalendar.CalendarCode" class="control-label"></label>
                <input asp-for="App_tbCalendar.CalendarCode" class="form-control" />
                <span asp-validation-for="App_tbCalendar.CalendarCode" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="App_tbCalendar.Monday" /> @Html.DisplayNameFor(model => model.App_tbCalendar.Monday)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="App_tbCalendar.Tuesday" /> @Html.DisplayNameFor(model => model.App_tbCalendar.Tuesday)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="App_tbCalendar.Wednesday" /> @Html.DisplayNameFor(model => model.App_tbCalendar.Wednesday)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="App_tbCalendar.Thursday" /> @Html.DisplayNameFor(model => model.App_tbCalendar.Thursday)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="App_tbCalendar.Friday" /> @Html.DisplayNameFor(model => model.App_tbCalendar.Friday)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="App_tbCalendar.Saturday" /> @Html.DisplayNameFor(model => model.App_tbCalendar.Saturday)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="App_tbCalendar.Sunday" /> @Html.DisplayNameFor(model => model.App_tbCalendar.Sunday)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
