@page
@inject Wangkanai.Detection.Services.IDetectionService Detection
@using Wangkanai.Detection.Models

@model TradeControl.Web.Pages.Admin.Calendar.IndexModel

@{ ViewData["Title"] = "Calendars"; }

<h1>@ViewData["Title"]</h1>
<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.App_tbCalendar[0].CalendarCode)
            </th>
            @if (Detection.Device.Type != Wangkanai.Detection.Models.Device.Mobile)
            {
                <th>
                    @Html.DisplayNameFor(model => model.App_tbCalendar[0].Monday)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.App_tbCalendar[0].Tuesday)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.App_tbCalendar[0].Wednesday)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.App_tbCalendar[0].Thursday)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.App_tbCalendar[0].Friday)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.App_tbCalendar[0].Saturday)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.App_tbCalendar[0].Sunday)
                </th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.App_tbCalendar)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CalendarCode)
                </td>
                @if (Detection.Device.Type != Wangkanai.Detection.Models.Device.Mobile)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Monday)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tuesday)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Wednesday)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Thursday)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Friday)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Saturday)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sunday)
                    </td>
                }
                <td>
                    <a asp-page="./Details" asp-route-id="@item.CalendarCode">Details</a> |
                    <a asp-page="./Edit" asp-route-id="@item.CalendarCode">Edit</a> |
                    <a asp-page="./Delete" asp-route-id="@item.CalendarCode">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
